<ion-view view-title="Belfast Cares">
  <ion-content>
    <div class="im-wrapper">
      <!-- Ionic Components -->
      <h4 class="border-top">
        <i class="icon ion-ionic"></i>
        Our Volunteer
      </h4>

      <div class="content has-header">
        <div class="list condensed-space no-padding animate-blinds done done done done">

          <div class="card dark-bg in" style="transition-delay: 0.13s;">

            <h2>Toronto</h2>
            <p>Drake's Raptastic Raptors</p>
            <img src="img/toronto.jpg" style="transition-delay: 0.02s;">

          </div>
          <div class="card assertive-bg in" style="transition-delay: 0.27s;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <h2>Scotland</h2>
              <p>Land of Unicorns</p>
              <img src="../img/scotland.jpg" style="transition-delay: 0.09s;">
            </a>
          </div>
          <div class="card dark-bg in" style="transition-delay: 0.4s;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <h2>Kyoto</h2>
              <p>Cultural Experience</p>
              <img src="../img/kyoto.jpg" style="transition-delay: 0.17s;">
            </a>
          </div>
          <div class="card assertive-bg in" style="transition-delay: 0.54s;">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <h2>New Zealand</h2>
              <p>More Than the Other Down Under</p>
              <img src="../img/new-zealand.jpg" style="transition-delay: 0.27s;">
            </a>
          </div>
          <div class="card dark-bg">
            <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
              <h2>Hawai'i</h2>
              <p>Paradise Getaway</p>
              <img src="../img/hawaii.jpg">
            </a>
          </div>
        </div>
      </div>

      <br/>
      <br/>
      <br/>
      <br/>


      <h4 class="border-top"><i class="icon ion-android-color-palette"></i>Latest News</h4>

      <div class="item card-item">
        <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
          <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
            <strong>Jon Snow</strong> knows nothing.
            <div class="card-footer text-right">
              <i class="icon ion-chatbubbles positive"></i> 6
              <i class="icon ion-heart assertive"></i> 23
              <div class="pull-left">
                <i class="icon ion-clock"></i> just now
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item card-item">
        <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
          <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
            <strong>Tyrion Lannister</strong> says "Perhaps that is the secret. It is not what we do, so much as why we
            do it."
            <div class="card-footer text-right">
              <i class="icon ion-chatbubble positive"></i> 2
              <i class="icon ion-heart assertive"></i> 4
              <div class="pull-left">
                <i class="icon ion-clock"></i> 12 mins ago
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item card-item">
        <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
          <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
            <strong>Sansa Stark</strong> added a gallery <strong>Pretending to be Anna from Frozen</strong> ...

            <div class="card-footer text-right">
              <i class="icon ion-chatbubble positive"></i> 2
              <i class="icon ion-heart assertive"></i> 4
              <div class="pull-left">
                <i class="icon ion-clock"></i> 3 hrs ago
              </div>
            </div>
          </div>
        </div>
      </div>


      <br/>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
  </ion-content>
</ion-view>
